body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: white;
  -webkit-user-select: none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  cursor: default;
}

#overlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s ease;
}

.titlebar {
  background-color: #1F2021;
}

#container {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 24px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#spacer {
  margin-top: 24px;
}

img.responsive {
  width: 100%;
  height: auto;
}
.movie-flex {
  width: 160;
  margin-bottom: 10px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}
